/*
helper class
*/
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-description {
  color: #888888;
}