$logo-blue: #00c6ff;
$logo-orange: #f5981c;
$white: #fff;

// Notification Colors
$dark-logo-orange: darken($logo-orange, 10%);
$read-notification-bg: #f0f3f5;
$read-notification-text: darken($read-notification-bg, 50%);

$placeholder-color: #c2c2c2;
$light-blue: #20a8d8;
