.page-container {
    padding: 30px;

    @media (max-width: 576px) {
        padding: 15px;
    }
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.d-none {
    display: none !important;
}

.vh-center {
    display: flex;
    @extend .justify-content-center;
    @extend .align-items-center;
}

.cursor-pointer {
    cursor: pointer;
}

%bordered-input-style {
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0;
}

.bordered-input {

    label {
        opacity: .9;
    }

    input,
    textarea {

        &:focus {
            box-shadow: unset;
        }
    }

    input {
        @extend %bordered-input-style;
    }

    textarea {
        @extend %bordered-input-style;
    }
}

.edit-profile__file-upload {
    padding: 7px 10px;
    background: #20a8d8;
    display: table;
    color: $white;
    border-radius: .25rem;
    border-color: #20a8d8;

    &:hover {
        cursor: pointer;
        background-color: #1985ac;
        border-color: #187da0
    }
}

.preview-image-video-container {
    padding-left: 0;
    margin-top: 20px;
}


.select2-container {
    .select2-selection--single {
        height: 35px !important;
    }
}

.select.form-control {
    &:not([size]) {
        &:not([multiple]) {
            height: calc(1.5em + .75rem + 2px);
        }
    }
}

.select2-container--default {
    .select2-selection--single {
        .select2-selection__arrow {
            top: 6px;
        }

        .select2-selection__rendered {
            line-height: 34px;
        }
    }
}

.select2-selection {
    &--multiple {
        border: 1px solid #e4e7ea !important;
    }

    &--single {
        border: 1px solid #e4e7ea !important;
    }
}

.red {
    color: red;
}

.bg {
    &--light_grey {
        background-color: #e6e6e6
    }
}

.dropdown-item {
  color: black !important;
}

.text-black {
  color: black;
}

.conversation-options {
  padding: 10px 10px 10px 10px;
}

.emojionearea.emojionearea-standalone {
  width: 100%;
}

.emojionearea.emojionearea-standalone .emojionearea-button > div {
  right: 0px;
  top: -2px;
}

.user-status-emoji {
  width: 80px;
}