//-- Imported file --//
@import "import";
//-- color -- //
@import "color";
//-- scrollbar -- //
@import "scrollbar";
//-- override -- //
@import "override";
//-- common --//
@import "common";
//-- button --//
@import "button";
//-- chat page style -- //
@import "chat";
//-- input switch style -- //
@import "input-switch";
//-- profile style --//
@import "profile";
//-- infy-loader --//
@import "infy-loader";
//-- notification popup --//
@import "notification-popup";
